[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox__label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.125rem;
}

[type="checkbox"] + span {
  display: block;
  color: var(--Grafite, #312e2e);
}

[type="checkbox"] + span:before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.5em;
  border-radius: 0.25rem;
  border: 0.25rem solid #fff;
  box-shadow: 0 0 0 0.15em var(--azul-primario);
  margin-right: 1rem;
  transition: 0.5s ease all;
}

[type="checkbox"]:checked + span:before {
  background: var(--magenta-primario);
}

[type="checkbox"]:focus {
  box-shadow: 0 0 0 0.15em var(--azul-hover);
}
