.inscricao {
  width: 100%;
  background-color: var(--verde-claro);
}

.inscricao__conteudo {
  padding: 80px 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.inscricao__titulo {
  color: var(--azul-primario);
  font-size: 2.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.inscricao__subtitulo {
  color: var(--azul-primario);
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.inscricao__formulario {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}
