.campo__texto {
  display: flex;
  width: 678px;
  padding: 1rem;
  align-items: center;
  align-self: stretch;
  background: transparent;
  border: 1px solid var(--magenta-primario);
  border-radius: 0.5rem;
  color: var(--grafite);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
}

.campo__texto:focus {
  outline: none;
  border: 2px solid var(--magenta-primario);
}

.campo__texto--label {
  gap: 24px;
}

.mensagem-erro {
  color: var(--magenta-primario);
  font-style: italic;
  font-weight: 600;
  margin-top: 0.5rem;
}
